<div class="mt-4">
<h2>Add Product {{msgName}}</h2>
<hr>

<form [formGroup] = "miForm">
  <div class="row g-3 align-items-center">
    <div class="col-auto">
      <label class="col-form-label">Name:</label>
    </div>
    <div class="col-auto">
      <input class="form-control" formControlName="name" />
    </div>
    <div class="col-auto">
      <span
        error-msg
        [color]="msgColor"
        [text]="msgName"
        [validate]="miForm.valid"
      ></span>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <button class="btn btn-primary m-1"
      (click)="changeName()"
      >Save</button>
      <button class="btn btn-primary m-1"
              (click)="changeColor()"
      >Change Color</button>
    </div>
  </div>
</form>
  <h3>State Form</h3>
  <pre>{{miForm.value | json}}</pre>
  <pre>{{miForm.valid | json}}</pre>
</div>

<div class="row mt-5" *customIf="!miForm.valid" >
  <div class="col">
    <div class="alert alert-primary">
      All Ok Success Fully!
    </div>
  </div>
</div>

